@media print
{
	#firstHeading, #siteSub
	{
		display:none;
	}
	
	body {
		font-family: Verdana, sans-serif;
		padding-left: 5px;
	}
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media screen {
	#partecipanti {
		-moz-column-count: 3;
		-moz-column-gap: 10px;
		-webkit-column-count: 3;
		-webkit-column-gap: 10px;
		column-count: 3;
		column-gap: 10px;
		
		list-style-position:inside;
		border: 1px solid black;
		padding: 10px;
		margin-left:10px;
		width: 70%;
	}
}