.set-activity {
   margin-bottom: 20px;
}

#ActivityTable * {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

textarea#classes-form {
	max-width: 100%;
}