.set-activity {
   margin-bottom: 20px;
}

@media print {
	.noprint {
		display: none;
	}
}

/* Popover styles */
.popover {
	max-width: 400px;
}

.popover-title {
	font-weight: bold;
}

.description-wrapper {
	display: none;
}