.set-activity {
   font-size:90%;
   margin-bottom: 20px;
}

.description-wrapper {
	display: none;
}

.popover {
	max-width: 400px;
}

.popover-title {
	font-weight: bold;
}

.posti {
   color: red;
}

@media print {
	.noprint {
		display: none;
	}
}